body{
    margin: 0;
    font-family: 'Dancing Script', 'cursive';
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Work Sans', sans-serif;
}
.all{
    background-color: #eee;
}
header{
    background-color:rgb(34, 33, 33);
    display: flex;
    justify-content: space-between;
}
.nav1 {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 33px;
    right: 39px;
    
}
.nav1 li a {
    display: block;
    text-decoration: none;
    font-size: 25px;
    padding-left:50px;
    text-align: center;
    color: white;
}
.nav1 li a:hover {
    transition-duration: .3s;
    color: gray;
     opacity: .8; 
     text-align: center;
}
.logo{
    padding-left: 50px;
    color:crimson;
}
.intro img{
    /* background-image: url(istockphoto-1278529171-612x612.jpg); */
    height: 500px;
    width: 100%;
    filter: brightness(30%); /* to darken the image */
    height: 650px;
}
.background .intro .textcentre{
    position: absolute;
    top: 280px;
    left: 600px;
    font-size: 30px;
    color: whitesmoke;
}
h1{
    color: crimson;
}
.job{
    margin-left: 50px;
    color: gray;
    font-size: 25px;
}
.background .intro .textcentre .hello{
margin-left: 130px;
}
.aboutus h2,.aboutus p{
    text-align: center;
}
.aboutus{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.aboutimg{
    width: 700px;
    height: 350px;
    margin-right: 100px;
}
.aboutimg img{
    width: 100%;
    height: 100%;
}
.abouttxt{
    width: 500px;
    margin-left: 100px;
    font-size: 17px;
}
.abouttxt h2{
    font-size: 40px;
}
